<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input id="txtBundleName" type="text" class="form-control" placeholder="bundle name">
  </div>
  <button id="btNewBundle" type="submit" class="btn btn-primary mb-2">New</button>
</form>