<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Subjects</th>
        </tr>
    </thead>
    <tbody>
        {{#each books}}
            <tr>
                <td>{{title}}</td>
                <td>{{authors}}</td>
                <td>{{subjects}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
