<!DOCTYPE html>
<html>
    <head>
        <title>b4</title>
    </head>
    <body>
        <div class="container">
            <h1>b4app</h1>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#b4index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Book Bundles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#bookSearch" class="nav-link">
                            Book Search
                        </a>
                    </li>
                </ul>
            </nav>
            <hr>
            <div id="divMain">

            </div>
            <p></p>
            <footer>
                <div class="card-footer">
                    <small><h2>References</h2></small>
                    <ul>
                        <li>
                            <small>Build with node.js support</small>
                        </li>
                        <li>
                            <small>Books catalog from</small>
                            <a href="https://www.gutenberg.org/" target="_blank">
                                <small>Project Gutenberg</small>
                                <img width="30px" src="./../img/pg.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>